*.sw?
*#
*~
.classpath
.project
.settings
.metadata
.factorypath
bin
build
lib/
target
.springBeans
dependency-reduced-pom.xml
*.log
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
*.jar
.DS_Store
